.card {
	height: 360px;
	width: 460px;
	background: #ffffff;
	box-shadow: 4px 4px 7px -1px rgba(0, 0, 0, 0.05);
	border-radius: 6px;
	border: 1px solid #f0f0f0;
}
.gradient {
	// display: none;
	// width: 100px;
	// height: 100px;
	background: conic-gradient(from 180deg, #abd3ff, #7eacf7, #51c4ea, #fbd55e, #db6daa, #aa52e3);
}
